{{!< default}}

{{#post}}
<article class="gh-article {{post_class}}">
    {{#match @page.show_title_and_feature_image}}

    <header class="gh-header gh-canvas">

        <div class="lg:grid lg:grid-cols-2 gap-10 text-left max-w-7xl mx-auto">
            <div>
                <h1 class="gh-title text-size-lg/display">{{title}}</h1>

                <img class="w-24 h-2 mb-12" src="{{asset "images/author-line.png"}}" />

                <p class="gh-excerpt">Combinations is a publication of RadicalxChange Foundation, exploring new ideas about economics, democracy, and the relationship between technology and power. Our aim is to illuminate new possible paths for present institutions, spotlighting the connections between ideas, technologies, and social and political organization.</p>
            </div>

            {{#if feature_image}}
            <figure class="gh-feature-image col-start-2 row-start-1 mt-0">
                <picture>
                <source 
                    srcset="
                    {{img_url feature_image size="xxs" format="avif"}} 30w,
                    {{img_url feature_image size="xs" format="avif"}} 100w,
                    {{img_url feature_image size="s" format="avif"}} 300w,
                    {{img_url feature_image size="m" format="avif"}} 600w,
                    {{img_url feature_image size="l" format="avif"}} 1200w,
                    {{img_url feature_image size="xl" format="avif"}} 2000w"
                    sizes="(min-width: 1200px) 1200px, 90vw" 
                    type="image/avif"
                >
                <source 
                    srcset="
                    {{img_url feature_image size="xxs" format="webp"}} 30w,
                    {{img_url feature_image size="xs" format="webp"}} 100w,
                    {{img_url feature_image size="s" format="webp"}} 300w,
                    {{img_url feature_image size="m" format="webp"}} 600w,
                    {{img_url feature_image size="l" format="webp"}} 1200w,
                    {{img_url feature_image size="xl" format="webp"}} 2000w"
                    sizes="(min-width: 1200px) 1200px, 90vw" 
                    type="image/webp"
                >
                <img
                    srcset="
                    {{img_url feature_image size="xxs"}} 30w,
                    {{img_url feature_image size="xs"}} 100w,
                    {{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1200w,
                    {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1200px) 1200px, 90vw" 
                    src="{{img_url feature_image size="l"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                >
                </picture>
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}
        </div>
    </header>
    {{/match}}

    <div class="gh-content gh-canvas mt-24">
        {{content}}
    </div>

    <div class="mt-48 max-w-7xl mx-auto text-center">
        <h2 class="team-header">Masthead</h2>
        <div class="team">
            <p>Paula Berman, <i>Editor</i></p>
            <p>Guy Mackinnon-Little, <i>Editor</i></p>
            <p>Jack Henderson, <i>Contributing Editor</i></p>
            <p>Matt Prewitt, <i>Contributing Editor</i></p>
            <p>Alex Randaccio, <i>Contributing Editor</i></p>
            <p>Isabel Bortagaray, <i>Design</i></p>
            <p>Angela Corpus, <i>Communications</i></p>
        </div>
    </div>

    <div class="board">
        <p class="font-bold">Editorial Board</p>
        <p>Nils Gilman</p>
        <p>Margaret Levi</p>
    </div>

</article>
{{/post}}
